<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
        <meta name="google-signin-client_id" content="@{${googleClientId}}">
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
        <script th:src="@{/js/bootstrap.js}"></script>
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />

        <title>sns login example</title>
    </head>
    <body>
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col-sm-4">&nbsp;</div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">SNS 로그인</h5>
                            <br>
                            <button class="btn btn-success" style="width: 100%;"
                                onclick="window.open('../auth/naver','Login','width=600,height=800')">네이버 로그인</button>
                            <button href="" class="btn btn-warning" style="width: 100%; margin-top: 10px;"
                                onclick="window.open('../auth/kakao','Login','width=600,height=800')">카카오 로그인</button>
                            <button href="" class="btn btn-danger" style="width: 100%; margin-top: 10px;"
                                onclick="window.open('../auth/google','Login','width=600,height=800')">구글 로그인</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">&nbsp;</div>
            </div>
        </div>
    </body>
</html>